.servicios {
  background-color: var(--primario-40);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.encabezado {
  color: var(--gray-50);
  text-align: center;
  max-width: 800px;
  padding: 3% 0%;
  div {
    gap: 5px;
  }
  h2 {
    font-size: 48px;
    font-family: "PT Serif", serif;
    margin-bottom: 14px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.762);
  }
}

.row-servicios {
  padding: 0 10%;
}

@media (max-width: 425px) {
  .card-servicios {
    max-width: 300px;
  }

  .encabezado {
    padding: 7% 0%;

    div {
      font-size: 14px;
      gap: 5px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 14px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .row-servicios {
    padding: 0 0%;
  }
}

@media (min-width: 425px) and (max-width: 992px) {
  .row-servicios {
    padding: 0 0;
  }
  .card-servicios {
    max-width: 300px;
  }

  .encabezado {
    padding: 7% 0%;
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 14px;
    }
  }
}
