.servicios {
  background-color: var(--color-primario);
  color: var(--gray-50);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 36px;
    font-family: "PT Serif", serif;
  }
}

.row-servicios {
  padding: 0 15%;
}
