.home {
  /* border: 1px solid white; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
