.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  height: 12vh;
  border-bottom: 1px solid var(--gray-600);
  z-index: 1;
}

.custom-toggler-icon {
  font-size: 28px;
  color: var(--gray-150);
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none !important;
  box-shadow: none !important;
}

.logo-nav {
  max-height: 80px;
  width: auto;
  padding-left: 60px;
  object-fit: cover;
}

.nav-right {
  margin-left: auto;
  height: 100%;
  padding-right: 60px;
  display: flex;
  gap: 40px;
}

.navbar .nav-right .nav-link {
  color: var(--gray-50) !important;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  transition: color 0.5s ease;
}

.navbar .nav-right .nav-link:hover {
  color: var(--gray-150) !important;
}

.navbar .nav-right .nav-link:active,
.navbar .nav-right .nav-link:focus,
.navbar .nav-right .nav-link:focus-visible,
.navbar .nav-right .nav-link.active {
  color: var(--gray-50);
}

/* .nav-center {
  gap: 20px;
  height: 100%;
  padding-left: 10px;
} */

/* .nav-center .nav-link {
  color: var(--gray-50);
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
}

.nav-center .nav-link:hover {
  color: var(--gray-150) !important;
} */

/* .nav-center .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: var(--color-primario);
  transition: width 0.5s ease;
}

.nav-center .nav-link:hover::after {
  width: 100%;
} */

/* .nav-icon {
  display: flex;
  gap: 25px;
}

.nav-icon a {
  color: var(--gray-50);
  transition: color 0.5s ease;
}

.nav-icon a:hover {
  color: var(--gray-150);
} */

@media (max-width: 991.98px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
  }
  .logo-nav {
    padding-left: 0px;
    max-height: 60px;
  }
  .nav-right {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-left: 10px !important;
  }
  /* .nav-center {
    width: 100%;
    height: auto;
    gap: 20px;
    padding-left: 10px !important;
  }
  .nav-center .nav-link {
    font-size: 15px;
  } */
}

/* @media (min-width: 992px) {
  .navbar-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav-collapse {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .nav-center {
    justify-self: center;
    display: flex;
    gap: 20px;
    padding-left: 30px !important;
  }

  .nav-right {
  }
} */
