.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  min-height: 80px;
}

.custom-toggler-icon {
  font-size: 28px;
  color: var(--gray-150);
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none !important;
  box-shadow: none !important;
}

.logo-nav {
  max-height: 80px;
  width: auto;
  padding-left: 60px;
  object-fit: cover;
}

.nav-right {
  margin-left: auto;
  height: 100%;
  padding-right: 60px;
  display: flex;
  gap: 30px;
}

.navbar .nav-right .nav-link {
  color: var(--gray-50) !important;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}

.navbar .nav-right .nav-link:hover {
  color: var(--gray-150) !important;
}

.navbar .nav-right .nav-link:active,
.navbar .nav-right .nav-link:focus,
.navbar .nav-right .nav-link:focus-visible,
.navbar .nav-right .nav-link.active {
  color: var(--gray-50);
}

@media (max-width: 991.98px) {
  .navbar {
    border-bottom: 1px solid var(--gray-500);
    min-height: 70px;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }
  .logo-nav {
    padding-left: 0px;
    max-height: 60px;
  }
  .nav-right {
    display: flex;
    gap: 5px;
    width: 100%;
    padding-left: 10px !important;
  }

  .navbar .nav-right .nav-link {
    font-size: 16px;
  }
}
