.footer {
  background-color: black;
  color: var(--gray-50);
  font-family: "Inter", sans-serif;
}

.col-img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-footer {
  height: auto;
  width: 25vh;
}

.col-center-footer {
  padding: 4% 0;
  h5 {
    font-size: 20px;
    font-family: "PT Serif", serif;
    padding-bottom: 4%;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  strong {
    font-size: 16px;
  }
  span {
    font-weight: 300;
    font-size: 16px;
  }
}

.col-social-footer {
  padding: 4% 0;
  h5 {
    font-size: 20px;
    font-family: "PT Serif", serif;
    padding-bottom: 4%;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  li {
    padding: 2%;
  }
}

.icon-footer {
  font-size: 26px;
  color: var(--gray-50);
  transition: color 0.3s ease;
}

.icon-footer:hover {
  color: var(--gray-150);
}

@media (max-width: 425px) {
  .logo-footer {
    width: 14vh;
  }

  .col-center-footer {
    h5 {
      font-size: 16px;
    }
    strong {
      font-size: 12px;
    }
    span {
      font-size: 12px;
    }
  }

  .col-social-footer {
    padding: 0 0;
    h5 {
      font-size: 16px;
      padding-bottom: 2%;
    }
    ul {
      gap: 2px;
    }
  }
  .icon-footer {
    font-size: 20px;
  }
}

@media (min-width: 425px) and (max-width: 992px) {
  .logo-footer {
    width: 18vh;
  }

  .col-center-footer {
    h5 {
      font-size: 18px;
    }
    strong {
      font-size: 14px;
    }
    span {
      font-weight: 300;
      font-size: 14px;
    }
  }

  .col-social-footer {
    padding: 2% 0;
    h5 {
      font-size: 18px;
      padding-bottom: 2%;
    }
    ul {
      gap: 2px;
    }
  }
  .icon-footer {
    font-size: 24px;
  }
}
