.footer {
  height: 300px;
  border: 1px solid black;
  background-color: var(--primario-80);
  color: var(--gray-50);
  font-family: "Inter", sans-serif;
  h5 {
    font-weight: 400;
    font-size: 20px;
  }
  li {
    display: flex;
    justify-content: space-between;
  }
  span {
    font-weight: 300;
    font-size: 16px;
  }
}

.logo-footer {
  height: auto;
  width: 30vh;
}
