.bg-homepage {
  background-image: url(/bg-libros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100svh;
}

@media (max-width: 767.98px) {
  .bg-homepage {
    background-image: url(/bg-libros-mobile.jpg);
    background-position: center top;
    background-size: contain;
  }
}

@media (hover: hover) and (pointer: fine) {
  .bg-homepage {
    background-attachment: fixed;
  }
}
