.bg-homepage {
  background-image: url(/bg-libros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
