@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Colores Base */
:root {
  --color-primario: #006a92;
  --color-secundario: #f39423;

  /* Blanco y Negro */
  --gray-900: #000000;
  --gray-800: #1a1a1a;
  --gray-700: #333333;
  --gray-600: #4d4d4d;
  --gray-500: #666666;
  --gray-400: #808080;
  --gray-300: #999999;
  --gray-200: #b3b3b3;
  --gray-150: #cccccc;
  --gray-100: #e6e6e6;
  --gray-50: #ffffff;

  /* Colores Srimarios */
  --primario-10: #005f83;
  --primario-20: #005575;
  --primario-30: #004a66;
  --primario-40: #004058;
  --primario-50: #003549;
  --primario-60: #002a3a;
  --primario-70: #00202c;
  --primario-80: #00151d;
  --primario-90: #000b0f;

  /* Colores Secundarios */
  --secundario-10: #f49f39;
  --secundario-20: #f5a94f;
  --secundario-30: #f7b465;
  --secundario-40: #f8bf7b;
  --secundario-50: #f9c491;
  --secundario-60: #fad4a7;
  --secundario-70: #fbdfbd;
  --secundario-80: #fdead3;
  --secundario-90: #fef4e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* .fuente {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 18px;
  font-style: normal;
} */
