.col-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-servicios {
  border: none !important;
  overflow: hidden;
  will-change: transform;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4) !important;
  transition: all 0.5s ease;
}

.body-card {
  background-color: var(--primario-40);
  padding: 20px !important;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  display: block;
}
.img-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.title-card {
  font-weight: 500 !important;
  font-size: 18px !important;
  color: var(--secundario-10) !important;
}

.description-card {
  font-weight: 300;
  font-size: 14px;
  color: var(--gray-100);
}

.etiqueta-servicios {
  font-weight: 400 !important;
  font-size: 12px !important;
  border-radius: 50px !important;
  background-color: rgba(0, 0, 0, 0.314);
  color: var(--gray-100) !important;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  .card-servicios:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    transform: translateY(-5px);
  }

  .card-servicios:hover .etiqueta-servicios {
    color: var(--secundario-10) !important;
  }

  .card-servicios:hover .img-wrapper::before {
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .body-card {
    padding: 5px !important;
  }
  .title-card {
    font-weight: 400 !important;
    font-size: 12px !important;
  }
  .description-card {
    font-weight: 300;
    font-size: 10px;
  }
  .etiqueta-servicios {
    font-weight: 300 !important;
    font-size: 8px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .body-card {
    padding: 10px !important;
  }
  .title-card {
    font-weight: 400 !important;
    font-size: 14px !important;
  }
  .description-card {
    font-weight: 300;
    font-size: 12px;
  }
  .etiqueta-servicios {
    font-weight: 300 !important;
    font-size: 10px !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .body-card {
    padding: 14px !important;
  }
  .title-card {
    font-weight: 500 !important;
    font-size: 16px !important;
  }
  .description-card {
    font-weight: 300;
    font-size: 12px;
  }
  .etiqueta-servicios {
    font-weight: 400 !important;
    font-size: 10px !important;
  }
}
